<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>918007616466-m3jkqbcos5tdilh7k763ue9to2tvnf2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918007616466-m3jkqbcos5tdilh7k763ue9to2tvnf2d</string>
	<key>API_KEY</key>
	<string>AIzaSyCpo5p9TZJvf9aTrkPrEQ0YBasxjo42uNU</string>
	<key>GCM_SENDER_ID</key>
	<string>918007616466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.artic.AICOfficialMobileApp</string>
	<key>PROJECT_ID</key>
	<string>aic-mobile-app-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>aic-mobile-app-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:918007616466:ios:20d0a975bacd64c6</string>
	<key>DATABASE_URL</key>
	<string>https://aic-mobile-app-v2.firebaseio.com</string>
</dict>
</plist>
