<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Art Institute</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Art Institute</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>edu.artic.anon-mobile-app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>artic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>artic.edu</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>See where you are on the map and find museum features near you.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/sourcesanspro/SourceSansPro-Black.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-BlackItalic.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-Bold.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-BoldItalic.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-ExtraLightItalic.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-Italic.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-Light.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-LightItalic.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-Regular.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-Semibold.ttf</string>
		<string>fonts/sourcesanspro/SourceSansPro-SemiboldItalic.ttf</string>
		<string>fonts/lora/Lora-Bold.ttf</string>
		<string>fonts/lora/Lora-BoldItalic.ttf</string>
		<string>fonts/lora/Lora-Italic.ttf</string>
		<string>fonts/lora/Lora-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
